.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}

.entry-task {
    margin-top: 20%;
    margin-right: 20%;
    margin-left: 20%;
}

.list-task{
    margin-top: 50%;
}

.example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
}

table {
    width: 100%;
}

